<div class="exam-card">
  <h2 class="exam-title">{{ exam.title }}</h2>
  <div class="exam-info">
    <p>Thời gian bắt đầu: {{ exam.startTime }}</p>
    <p>Thời gian làm bài: {{ exam.duration }} phút</p>
  </div>
  <div class="buttons">
    <button class="btn btn-primary">Làm bài</button>
    <button class="btn btn-secondary">Làm lại</button>
    <button class="btn btn-edit">Sửa đề</button>
    <button class="btn btn-history">Lịch sử</button>
    <button class="btn btn-try">Thi thử</button>
    <button class="btn btn-try">Chấm điểm</button>
  </div>
</div>
