.list-question {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  border-right: 1px solid #a39a9a21;
}

.question-item {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  cursor: pointer;
}

.question-item:hover {
  background-color: #e0e0e0;
}
.table-label-question {
  min-width: 200px;
}
