<div class="classroom-container">
  <!-- Danh sách bài viết -->
  <div class="content-section">
    <div class="d-flex-end">
      <EButton :control="addPostBtn" @click="onAddPost" />
    </div>
    <div v-for="post in posts" class="p-8px">
      <div class="d-flex-end" v-if="isShowAction(post)">
        <div class="box-action-classroom">
          <i
            class="fa-solid fa-ellipsis icon-tool-classroom"
            @click.stop="toggleAction(post)"
            >...</i
          >
          <ul class="menu-action-classroom" v-if="dicStatus[post.post_id]">
            <li>
              <div class="action-classroom" @click.stop="onEditPost(post)">
                Sửa bài viết
              </div>
            </li>
            <li>
              <div class="action-classroom">Xóa bài viết</div>
            </li>
          </ul>
        </div>
      </div>
      <editor :control="editorControl" v-model="post.object_content" />
    </div>
  </div>

  <!-- Danh sách học sinh -->
  <div class="student-section">
    <h2>Danh sách học sinh</h2>
    <div class="student-container d-flex-column row-gap-8px">
      <div>
        <div class="student-summary" @click="onToggleUser">
          <p>{{enrollSuccess?.length}} học sinh tham gia</p>
          <!-- Icon thay đổi theo trạng thái -->
          <span id="toggle-icon" class="toggle-icon">
            {{ isShowListStudent ? '▲' : '▼' }}
          </span>
        </div>
        <div id="student-list" class="student-list" v-show="isShowListStudent">
          <ul>
            <li
              v-for="enroll in enrollSuccess"
              :key="enroll.enrollmen_class_id"
            >
              {{enroll.name}}
            </li>
          </ul>
        </div>
      </div>
      <div v-if="isShowBoxRequest">
        <div class="student-summary" @click="onToggleRequest">
          <p>{{enrollPending?.length}} Yêu cầu chờ duyệt</p>
          <!-- Icon thay đổi theo trạng thái -->
          <span id="toggle-icon" class="toggle-icon">
            {{ isShowListRequest ? '▲' : '▼' }}
          </span>
        </div>
        <div id="student-list" class="student-list" v-show="isShowListRequest">
          <ul>
            <li
              v-for="enroll in enrollPending"
              :key="enroll.enrollmen_class_id"
              class="d-flex-between d-flex-vcenter col-gap-4px"
            >
              <div>{{enroll.name}}</div>
              <div class="d-flex col-gap-4px">
                <EButton
                  :control="acceptBtn"
                  @click="onAcceptRequest(enroll)"
                />
                <EButton
                  :control="rejectBtn"
                  @click="onRejectRequest(enroll)"
                />
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
