<div class="e-question d-flex-column row-gap-8px">
  <div class="header">
    <slot name="header-question">
      <div class="d-flex-between">
        <div class="left-tool-bar">
          <ECombobox
            v-if="control.isShowQuestionType"
            :control="questionTypeControl"
            v-model="control.value.type"
          />
        </div>
        <div class="right-tool-bar" v-if="control.isShowActionToolbar">
          <EButton :control="btnEdit" @click="onEditQuestion" />
        </div>
      </div>
    </slot>
  </div>
  <div class="body">
    <div class="question-content">
      <editor
        :control="questionEditorControl"
        v-model="control.value.object_content"
      />
    </div>
    <div>
      <div
        v-if="control.value.type === QuestionType.SingleChoice || control.value.type === QuestionType.MultiChoice"
      >
        <div class="list-option">
          <div
            v-for="option in control.value.options"
            :key="option.option_question_id"
            :class="getClassForOption(option)"
            class="option-question"
          >
            <input
              v-if="control.value.type === QuestionType.SingleChoice"
              type="radio"
              class="box-select-option"
              name="question.question_id"
              :value="option.option_question_id"
              :disabled="control.value.mode === QuestionMode.ViewOnly"
              v-model="singleOptionSelected"
            />
            <input
              v-else-if="control.value.type === QuestionType.MultiChoice"
              type="checkbox"
              class="box-select-option"
              name="question.question_id"
              :value="option.option_question_id"
              :disabled="control.value.mode === QuestionMode.ViewOnly"
              v-model="multiOptionSelected"
            />
            <editor
              :control="questionEditorControl"
              v-model="option.object_content"
            />
          </div>
        </div>
      </div>
      <div v-if="control.value.type === QuestionType.FillResult">
        <editor
          :control="questionEditorControl"
          v-model="control.value.object_content"
        />
      </div>
    </div>
  </div>
</div>
