<div class="e-question d-flex-column row-gap-8px">
  <div class="header">
    <slot name="header-question">
      <div class="d-flex-between">
        <div class="left-tool-bar d-flex-vcenter col-gap-8px">
          <slot name="left-default-toolbar"></slot>
          <ECombobox
            v-if="control.isShowQuestionType"
            :control="questionTypeControl"
            v-model="control.value.type"
            :bindingText="questionTypeControl.bindingText"
          />
          <ECombobox
            v-if="control.isShowLevel"
            :control="questionLevelControl"
            v-model="control.value.level"
            :bindingText="questionLevelControl.bindingText"
          />
          <ENumber
            v-if="control.isShowPoint"
            :control="pointControl"
            v-model="control.value.point"
          />
          <slot name="right-default-tool-bar"></slot>
        </div>
        <div class="right-tool-bar" v-if="control.isShowActionToolbar">
          <slot name="action-toolbar">
            <EButton
              v-for="button in control.btnActions"
              :control="button"
              @click="onActionQuestion(button)"
            />
          </slot>
        </div>
      </div>
    </slot>
  </div>
  <div class="body d-flex">
    <div class="question d-flex-column row-gap-8px flex-1">
      <div class="question-content">
        <editor
          :control="questionEditorControl"
          v-model="control.value.object_content"
        />
      </div>
      <div class="d-flex">
        <div
          v-if="control.value.type === QuestionType.SingleChoice || control.value.type === QuestionType.MultiChoice"
        >
          <div class="list-option">
            <div
              v-for="option in control.value.options"
              :key="option.option_question_id"
              :class="['option-question']"
            >
              <input
                v-if="control.value.type === QuestionType.SingleChoice"
                type="radio"
                :class="['box-select-option', getClassForOption(option)]"
                :name="option.question_id"
                :value="option.option_question_id"
                v-model="singleOptionSelected"
                :disabled="control.value.mode === QuestionMode.ViewOnly"
                @change="onChangeChoice"
              />
              <input
                v-else-if="control.value.type === QuestionType.MultiChoice"
                type="checkbox"
                :class="['box-select-option', getClassForOption(option)]"
                :name="option.question_id"
                :value="option.option_question_id"
                v-model="multiOptionSelected"
                :disabled="control.value.mode === QuestionMode.ViewOnly"
                @change="onChangeChoice"
              />
              <editor
                :control="questionEditorControl"
                v-model="option.object_content"
              />
            </div>
          </div>
        </div>
        <div v-if="control.value.type === QuestionType.FillResult">
          <editor
            :control="questionEditorControl"
            v-model="fillResult"
            @update:modelValue="onUpdateFillResult"
          />
        </div>
      </div>
    </div>
    <ENote
      v-if="control.isShowNote"
      :control="noteEditorControl"
      v-model="control.value.object_content"
    />
  </div>
</div>
