/* Cài đặt cơ bản cho container combobox */
.combobox-container {
  position: relative;
  width: 300px;
}

/* Cài đặt cơ bản cho combobox */
.e-combobox {
  position: relative;
  height: 36px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #0056b3;
  border-radius: 8px; /* Chỉ làm tròn các góc trên */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background: white; /* Đảm bảo nền trắng cho input */
  z-index: 10; /* Đảm bảo input nằm trên dropdown */
}

/* Thiết kế cho input */
.combobox-input {
  width: 100%;
  height: 100%;
  padding: 0 30px 0 10px;
  border-radius: 8px;
  border: none;
  font-size: 16px;
  outline: none;
  box-sizing: border-box;
}

/* Menu dropdown */
.dropdown-menu {
  position: absolute;
  top: 36px; /* Chính xác chiều cao của input */
  left: 0;
  width: 100%;
  background: white;
  border: 2px solid #0056b3;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  border-radius: 8px; /* Làm tròn các góc dưới */
  z-index: 5; /* Đảm bảo dropdown nằm dưới input nhưng trên các phần tử khác */
}

/* Mục lựa chọn trong menu */
.dropdown-item {
  padding: 8px 10px;
  cursor: pointer;
  border-top: 1px solid #f0f0f0; /* Thêm border phân cách giữa các mục */
}
.dropdown-item:first-child {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: none;
}
.dropdown-item:last-child {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.dropdown-item:hover {
  background-color: #f0f0f0;
}

/* Icon dropdown */
.dropdown-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  // pointer-events: none; /* Đảm bảo icon không phải là mục tương tác */
}

/* Hiển thị trạng thái đang tải */
.loading-indicator {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: #666;
}
