.table-list-label {
  display: grid;
  gap: 10px; /* Khoảng cách giữa các phần tử */
}

.item-table-label {
  padding: 16px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
  cursor: pointer;
}

.item-table-label:hover {
  background-color: #e0e0e0;
}
